@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: nexa;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  color: white;
  
}

html {
  font-size: 62.5%;
  /* background-image: url("https://s2.best-wallpaper.net/wallpaper/3840x2160/1702/Seasoning-spices-pepper-spoon-nuts-leaves_3840x2160.jpg"); */
  background-position: 18%;
  background:	linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background-size: 100% 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App2{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width:100%;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  font-style: bold;
  background: -webkit-linear-gradient(45deg, rgb(4, 255, 150), rgb(51, 146, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 4rem 0;
}

h3{
  padding-top: 5px;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4{
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: linear-gradient(-45deg, #360033, #07535a);
  border: none;
  border-radius: 0.5rem;
  padding-top: 5px;
  text-align: center;
}

.search-form {
  width: 60rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #360033, #07535a);
  box-shadow: 0rem 0rem 1rem #aaa;
  border-radius: 1rem;
  margin-bottom: 10rem;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: #e94848;
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin-top: 100px;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding:  1.5rem;
  width: 60%;
  color: rgb(0, 0, 0);
}

.search-form input[type="submit"] {
  padding-top: 5px;
  width: 25%;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.702);
  color: rgb(0, 0, 0);
}

input[type="submit"]:hover{
  transition: transform .2s;
  transform: scale(1.1);
  cursor: pointer;
}

input[type="submit"]:active{
  background-color: #ebffeb;
  transform: translateY(4px);
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color:rgba(255, 255, 255, 0.5);
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 3rem #aaa;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.recipe h2 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: relative;
  bottom: 0.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
  clip-path: polygon(0 25%,100% 0, 100% 75%, 0 100%);
}

.recipe a {
  text-align: center;
  font-size: 1.8rem;
  color: #000000;
  text-shadow: 0rem 0rem 1rem #aaa;
  transition: all 0.2s ease-out;
  margin-bottom: 10px;
}

.recipe a:hover{
  color: blue;
  text-decoration: underline;
}

.recipe button {
  margin-top: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: linear-gradient(-45deg, #360033, #07535a);
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  cursor: pointer;
}

button:active {
  /* background-color: rgb(4, 255, 150);
  box-shadow: 0 1px rgb(4, 255, 150); */
  transform: translateY(4px);
}

.ingredient-list {
  margin-top: 1rem;
  background-color: rgba(46, 46, 46, 0);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-shadow: 0rem 0rem 1rem #aaa;
}

.ingredient-weight {
  color: #000000;
  font-size: 1.3rem;
  text-shadow: 0rem 0rem 1rem #aaa;
}

.calories {
  font-size: 1.8rem;
  color: #000000;
  text-shadow: 0rem 0rem 1rem #aaa;
}